body {
  background-color: #000;
  font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#canvas{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:1;
}

#video{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:-1;
  border: 3px #fff solid;
	border-radius: 10px;
}

#board{
  /* background-color: skyblue; */
  background-image: url("assets/image/swatParrish.png");
}